Thumbs.db
*~
.*.swp
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
packages/*
TRIGO.AntiFog.WebSite/BuildArtifacts/Package/*
*TestResult.*
messages.po~
Html-AntiFog.Specificifications
Html
phantomjs.exe.1.8.0
filelist*.tmp.txt

UpgradeLog.XML
UpgradeLog.htm
_UpgradeReport_Files*/
TRIGO.AntiFog.WebSite/Models/locale/fr.po.orig
TRIGO.AntiFog.WebSite/Scripts/libs/jquery.validate.min.js.map
*.orig
*VisualState.xml
TRIGO.AntiFog.WebSite/locale/*.mo
TRIGO.AntiFog.WebSite/locale/Analysis/*.mo
*.playlist
commitmsg
copos
csx/
rcf/
Downloaded Profiling Logs/

.gitattributes
*.feature.cs

# specificationReturn.xlsx
specificationReturn.xlsx
/scripts/version.properties
~$*.xls
~$*.xlsx

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Visual Studio 2015/2017 cache/options directory
.vs/
.vs/config

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/